.card {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border-radius: 4px;
}

.text {
    font-size: 16px;
    margin-bottom: 5px;
}

.hr {
    margin-bottom: 6px;
    margin-top: 6px;
}

.divHorizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
