.containerColumns {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    gap: 16x;
    padding: 24px 32px;
    height: 100vh;
    overflow-x: auto;
    white-space: nowrap;
    /* flex-wrap: wrap; */
}
