.containerColumns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16x;
    padding: 24px 32px;
    height: 100%;
    overflow: auto;
    flex-wrap: wrap;
}
